$main: #38241B;
$active: #951205;
$starColor: gray;

@mixin title {
    width: 100%;
    text-align: center;
    height: 170;
    font-family: 'Noto Serif TC';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 170 px;
    color: #FFFFFF;
    background: $main;
}

@mixin ipad {
    @media (max-width:768px) {
        @content
    }
}

@mixin iphone {
    @media (max-width:568px) {
        @content
    }
}
@mixin min {
    @media (max-width:376px) {
        @content
    }
}