@import '../../mixin.scss';

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}

.container {
    scroll-snap-type: y proximity;
    // scroll-snap-type: y mandatory;

    @include iphone {
        scroll-snap-type: none;

    }

    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;

    position: relative;
    ;

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background-color: white;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $main;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }

    nav {
        height: 62px;
        background: $main;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;

        @include ipad {
            padding: 10px 40px;
        }

        @include iphone {
            padding: 5px 16px;
        }


        .imgContainer {
            width: 145px;
            height: 36px;
            background: url("./images/logo.png");

            @include iphone {
                width: 50px;
                height: 50px;
                background: url('./images/menu.png');
            }

        }

        .navLink {
            display: flex;
            align-items: center;

            button {
                cursor: inherit;
                color: white;
                background: none;
                border: none;

                &:not(:last-child) {
                    margin-right: 24px;
                    font-size: 18px;

                    @include iphone {
                        display: none;
                    }
                }

                &:last-child {
                    font-size: 20px;
                    padding: 6.5px 25px;
                    background: $active;
                    border-radius: 25px;

                    @include ipad() {
                        padding: 6.5px 51.5px;
                    }

                    @include iphone {
                        width: 130px;
                        height: 40.25px;
                        line-height: 29px;
                        padding: 0;
                    }
                }
            }

        }


    }

    section {
        padding-top: 61px;
        scroll-snap-align: start;
        min-height: calc(100vh - 62px);
    }






}

.one {
    height: 180vh;
    background: url('./images/bg2.png');
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    position: relative;
    contain: paint;
    padding-bottom: 20px;

    @include iphone {
        height: 400vh;
        padding-bottom: 0;
    }

    @include iphone {
        height: 300vh;
    }





    .oneContainer {
        position: sticky;
        top: 15%;
        background: url("./images/bg1.png");
        height: 597px;
        width: 1213px;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        background-position: center;
        background-size: contain;

        @include ipad {
            background: url("./images/bg1Ipad.png");
            top: 10%;
            width: 736px;
            height: 902px;
        }

        @include iphone {
            background: url("./images/bg1Iphone.png");
            width: 93%;
            // width: 100%;
            height: 864px;
        }

        @include min {
            width: 100%;
        }


        .title {
            position: absolute;
            top: 51px;
            left: 50px;
            display: flex;

            @include ipad {
                top: 93px;
                left: 39px;
            }

            @include iphone {
                top: 43px;
                left: 22px;

            }

            h1 {
                font-size: 80px;
                font-weight: 800;
                color: $main;
                width: 320px;
                height: 104px;
                margin-right: 9px;

                @include iphone {
                    font-size: 61px;
                    line-height: 80px;
                    width: 244px;
                    height: 80px;
                    margin-right: 3px;
                }
            }


            div {
                color: white;
                width: 109px;
                height: 46px;
                background: $active;
                border-radius: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 34px;
                font-weight: 700;
                margin-top: 25px;

                @include ipad {
                    margin-top: 30px;
                }

                @include iphone {
                    margin-top: 20px;
                    width: 85px;
                    height: 36px;
                }
            }
        }

        .text1 {
            position: absolute;
            width: 343px;
            height: 180px;
            left: 53px;
            top: 177px;
            font-weight: 900;
            font-size: 42px;
            line-height: 60px;
            color: $main;

            @include ipad {
                left: 39px;
                width: 650px;
                font-size: 50px;
                line-height: 72px;
            }

            @include iphone {
                left: 27px;
                top: 490px;
                width: 313px;
                height: 168px;
                font-size: 39px;
                line-height: 56px;
                text-align: center;
            }

        }

        .text2 {
            position: absolute;
            width: 289px;
            height: 140px;
            left: 53px;
            top: 372px;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: $main;

            @include ipad {
                display: none;
            }

            @include iphone {
                display: block;
                left: 27px;
                top: 670px;
                font-size: 22px;
                line-height: 32px;
                width: 313px;
                height: 96px;
            }
        }

        .oneImg {
            position: absolute;
            right: -30px;
            top: -30px;

            @include ipad {
                right: -50px;
                top: -40px;
                transform: scale(0.8);
            }

            @include iphone {
                right: -50px;
                top: 100px;
            }
        }

        .text3 {
            position: absolute;
            right: 61px;
            top: 215px;

            @include ipad {
                display: none;
            }

            .item {
                display: flex;
                align-items: center;

                div {
                    color: $main;

                    &:first-child {
                        width: 140px;
                        height: 31px;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 31px;
                        margin-right: 18px;
                    }

                    &:last-child {
                        display: flex;
                        align-items: center;
                        font-size: 28px;

                        span {
                            width: 109px;
                            height: 57px;
                            font-family: 'EB Garamond';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 50px;
                            text-align: end;
                            margin-bottom: 10px;
                        }

                    }
                }
            }
        }

        .oneImg2 {
            background: url("./images/oneImg2.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            position: absolute;
            width: 672.27px;
            height: 562px;
            left: 308px;
            bottom: -562px;

            @include ipad {
                left: 35px;
            }

            @include iphone {
                background: url("./images/oneImg2Iphone.png");
                width: 100%;
                left: 0;
                height: 369px;
            }

        }

        .paperTop {
            background: url('./images/paperTop.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            position: absolute;
            width: 1280px;
            height: 720px;
            top: -25%;
            left: -2%;

            @include ipad {
                top: -5%;
                left: -2%;
            }

            @include iphone {
                top: -5%;
                left: -30%;
                width: 683px;
                height: 384px;
            }
        }

        .paperDownLeft {
            background: url('./images/paperDownLeft.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            position: absolute;
            width: 942px;
            height: 1058px;
            bottom: -100%;
            left: -20%;

            @include ipad {
                bottom: -40%;
                left: -90%;
                transform: scale(0.7);
            }

            @include iphone {
                bottom: 20%;
                left: -80%;
                width: 503px;
                height: 563px;
            }
        }

        .paperDownRight {
            background: url('./images/paperDownRight.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            position: absolute;
            position: absolute;
            width: 1218px;
            height: 1008px;
            bottom: -90%;
            right: -45%;

            @include ipad {
                bottom: -20%;
                right: -105%;
                transform: scale(0.7);
            }

            @include iphone {
                width: 650px;
                height: 539px;
                bottom: 25%;
                right: -105%;
            }
        }

        .slideDown {
            position: absolute;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include iphone {
                top: 55%;
                left: 80%;
                transform: translate(0%, 0%);
            }
        }
    }
}

.two {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .pp1 {
        position: absolute;
        top: 60%;
        z-index: 2;
        left: 10%;
    }

    @include ipad {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .twoTitle {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 100.49px;

        @include ipad {
            margin-top: 0px;
            width: 343.03px;
            height: 552.02px;
            justify-content: center;
        }

        @include iphone {
            margin-top: 20px;
            width: 100%;
            height: 250px;
            justify-content: start;
        }

        .twoLogo {
            width: 100%;

            @include ipad {
                width: 80%;
            }
        }

        .twoText1 {
            margin-top: 42.17px;
            font-weight: 500;
            font-size: 43px;
            line-height: 62px;
            text-align: center;
            letter-spacing: 0.6em;
            color: $main;

            @include ipad {
                width: 90%;
                font-size: 34px;
                line-height: 49px;

                span {
                    display: none;
                }
            }

            @include iphone {
                width: 100%;
            }
        }
    }


    .underLine {
        width: 100%;
        height: 9px;
        margin-top: 40px;
        border-top: 3px solid $main;
        border-bottom: 3px solid $main;
        margin-bottom: 99px;

        @include ipad {
            display: none;
        }

        @include iphone {
            margin-top: 0px;
            display: block;
            margin: 0 20px;
        }

    }

    .twoItem {
        background: url('./images/twoItemBg.png');
        width: 1200px;
        height: 528px;
        opacity: 1;
        transition: 2s;

        @include ipad {
            background: url('./images/twoItemBgIpad.png');
            width: 343.03px;
            height: 552.02px;
            position: relative;
            margin-top: 10px;

        }

        &.unShowRight {
            transform: translateX(200px);
            opacity: 0;
        }

        &.unShowLeft {
            transform: translateX(-200px);
            opacity: 0;
        }

        &:not(:last-child) {
            margin-bottom: 42px;

            @include ipad {
                margin-bottom: 0;
            }

        }


        .itemNav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 19px 40px 0px 40px;

            @include ipad {
                padding: 19px;
            }

            div:first-child {
                color: white;
                font-weight: 700;
                font-size: 44px;

                @include ipad {
                    display: none;
                }
            }

            @include ipad {
                justify-content: flex-end;

                img {
                    height: 58px;
                }
            }
        }


        .itemContainer {
            margin-top: 66px;
            margin-left: 105.97px;
            display: flex;

            @include ipad {
                margin-top: 30px;
                margin-left: 0;
                flex-direction: column;
                justify-content: center;

            }

            .twoItemImgContainer {
                margin-right: 86.65px;
                width: 313.38px;
                height: 290px;

                @include ipad {
                    display: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .itemText {
                h1 {
                    font-family: Noto Serif TC;
                    font-size: 44px;
                    font-weight: 900;
                    line-height: 63px;
                    color: $main;

                    @include ipad {
                        font-size: 44px;
                        line-height: 63px;
                        padding: 0px 40px;

                    }
                }

                p {
                    font-family: 'Noto Sans TC';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 35px;
                    width: 592px;
                    height: 70px;
                    color: $main;

                    @include ipad {
                        width: 100%;
                        padding: 0px 35px;

                    }
                }

                .buttonContainer {
                    margin-top: 80px;

                    @include ipad {
                        margin-top: 80px;
                        position: absolute;
                        bottom: 70px;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        width: 100%;
                        display: flex;
                        justify-content: center;

                    }

                    button {
                        width: 183px;
                        height: 70px;
                        border-radius: 70px;
                        background: transparent;
                        font-weight: 350;
                        font-size: 28px;
                        line-height: 41px;
                        border: 2px solid black;

                        @include ipad {
                            width: 129px;
                            height: 52.71px;
                        }

                        &:last-child {
                            background: $active;
                            color: white;
                            border: none;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}

.three {
    margin-top: 175px;
    position: relative;



    .pp2 {
        position: absolute;
        top: 70%;
        z-index: 2;
        right: 20%
    }

    h1 {
        @include title();
    }

    @include iphone {
        margin-top: 0;
    }

    .threeOne {
        padding-top: 92px;
        display: flex;
        flex-direction: column;

        .timeRoute {
            width: 100%;
            display: flex;
            flex-direction: column;

            @include ipad {
                overflow-x: scroll;
                flex-direction: row;
                // width: 200vw;

            }

            .up,
            .down {
                display: flex;
                width: 100%;
                padding: 0 37px;
                justify-content: center;

                @include ipad {
                    margin-bottom: 150px;
                    padding: 0 16px;
                }

                .item {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @include ipad {
                        width: 300px;
                    }

                    &:not(:last-child) {
                        div {
                            &:nth-child(1) {
                                position: relative;

                                &:before {
                                    position: absolute;
                                    content: "";
                                    height: 5px;
                                    width: 23vw;
                                    background: $main;
                                    top: 90px;
                                    left: 50%;

                                    @include ipad {
                                        width: 35vw;
                                    }

                                    @include iphone {
                                        width: 65vw;
                                    }
                                }
                            }

                        }
                    }

                    div {
                        &:first-child {
                            font-size: 30px;
                            line-height: 43px;
                            color: $main;
                        }

                        &:nth-child(2) {
                            width: 48.53px;
                            height: 48.53px;
                            background: $main;
                            transform: rotate(45deg);
                            margin: 25px 0;
                        }

                        &:nth-child(3) {
                            font-size: 24px;
                            line-height: 35px;
                            height: 82px;
                            display: flex;
                            align-items: center;
                            color: $main;

                            @include iphone {
                                font-size: 24px;
                                line-height: 35px;
                            }
                        }
                    }

                    &.active {
                        div {
                            &:nth-child(2) {
                                background: $active;

                            }
                        }
                    }

                }

                &.up {
                    @include ipad {
                        width: 150vw;
                    }

                    @include iphone {
                        width: 300vw;
                    }
                }

                &.down {
                    margin-top: 92px;

                    @include ipad {
                        margin-top: 0;
                    }

                    @include iphone {
                        width: 130vw;
                    }

                    .item {
                        &:not(:last-child) {
                            div {
                                &:before {
                                    @include iphone {
                                        // width: 45vw;
                                    }
                                }
                            }
                        }
                    }
                }


            }

        }

        .description {
            width: 100%;
            padding: 0 41px;
            height: 89px;
            left: 41px;
            top: 3907px;
            font-size: 28px;
            line-height: 41px;
            color: $main;

            @include iphone {
                display: none
            }
        }
    }
}

.four {
    position: relative;

    .pp3 {
        position: absolute;
        bottom: 20%;
        z-index: 2;
        right: 40%;
    }

    h1 {
        @include title();
    }

    .imgContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 41px 92px;
        flex-wrap: wrap;

        @include ipad {
            padding: 41px 0px;
        }

        @include iphone {}

        img {
            opacity: 1;

            @include ipad {
                width: 50%;
            }

            @include iphone {
                width: 80%;
            }

            &:first-child {
                transition: 0.5s;


            }

            &:nth-child(2) {
                transition: 1s;



            }

            &:nth-child(3) {
                transition: 1.5s;


            }

            &:not(:last-child) {
                // margin-right: 20px;
            }

            &.unShow {
                opacity: 0;
                transform: translateY(-200px);
            }
        }

        .fourText {
            margin-top: 103.97px;
            font-size: 36px;
            width: 100%;
            text-align: center;
            color: $main;

            @include ipad {
                margin-top: 0px;
                width: 50%;
                padding: 0 50px;
            }

            @include iphone {
                margin-top: 74px;
                font-size: 30px;
                line-height: 43px;
                width: 343px;
                height: 43px;
                padding: 0;
            }
        }
    }


}

.five {
    position: relative;

    .pp4 {
        position: absolute;
        top: 50%;
        left: 5%;
        z-index: 2;

    }

    .pp5 {
        position: absolute;
        bottom: 20%;
        right: 10%;
        z-index: 2;

    }

    .fiveContainer {
        padding-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 72px;
        line-height: 103.46px;
        position: relative;
        opacity: 1;
        transition: 1s;


        &.hide {
            opacity: 0;
            position: absolute;
            z-index: -4;
        }

        h1 {
            font-family: 'Noto Serif TC';
            text-align: center;
            width: 100%;
            color: $main;

            @include iphone {
                font-size: 38px;
                line-height: 55px;
            }
        }

        div:last-child {
            color: $active;
            display: flex;
            align-items: center;

            @include iphone {
                margin-left: 50px;
                font-size: 38px;
                line-height: 55px;
            }

            span {
                width: 199px;

                @include iphone {
                    width: 158px;
                }
            }
        }
    }

    .fiveContainer2 {
        position: relative;
        transition: 4s;

        &.hide {
            opacity: 0;
            position: absolute;
            z-index: -4;
        }

        h1 {
            @include title();
        }

        .itemContainer {
            width: 100%;
            padding: 0 10vw;
            margin: auto;
            margin-top: 63px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            @include ipad {
                padding: 0;

            }

            .item {
                margin-bottom: 52px;
                width: 522px;
                height: 738.5px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                @include ipad {
                    width: 343px;
                    height: 485.26px;
                }

                &:nth-child(odd) {
                    margin-right: 20px;


                }

                .itemTitle {
                    font-family: 'Noto Serif TC';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 49px;
                    line-height: 62px;
                    color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 160px;
                    text-align: center;

                    @include ipad {
                        margin-top: 0px;
                        width: 100%;
                        min-height: 70px;
                        font-size: 33px;
                        line-height: 36px;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                }

                .description {
                    background: url('./images/titleContain.png');
                    width: 259px;
                    height: 66px;
                    margin-top: 420px;
                    color: white;
                    text-align: center;
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 26px;
                    padding: 7px 0;

                    @include ipad {
                        width: 170.19;
                        height: 43.37px;
                        margin-top: 260px;
                        font-size: 13px;
                        line-height: 16px;

                    }
                }

                .time {
                    font-style: normal;
                    font-weight: 900;
                    font-size: 35px;
                    line-height: 67px;
                    text-align: center;
                    color: $main;

                    @include ipad {
                        font-size: 24px;
                        line-height: 67px;
                    }
                }


            }
        }

        footer {

            // width: 100%;
            .icons {
                padding: 0px 15vw;
                width: 100%;
                background: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                @include iphone {
                    justify-content: center;
                }

                img {
                    @include iphone {
                        padding: 20px;
                    }

                }
            }

            .bottom {
                background: $main;
                padding-top: 60px;

                h1 {
                    font-family: 'Noto Serif TC';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 60px;
                    line-height: 86px;
                    color: #FFFFFF;

                    @include iphone {
                        font-size: 30px;
                        line-height: 43px;
                    }
                }

                .logos {
                    width: 100%;
                    padding: 50px 66px 46px 66px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @include ipad {
                        flex-direction: column;

                    }

                    img {
                        @include ipad {
                            margin-bottom: 60px;
                        }
                    }

                }

                p {
                    width: 100%;
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                    color: white;
                }
            }

        }
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;

    .modalContainer {
        background: white;
        width: 500px;
        height: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include iphone {
            width: 90%;

        }

        div {
            &:nth-child(2) {
                font-family: 'Noto Sans TC';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 41px;
                @include iphone {
                    font-size: 20px;
                }
            }

            &:last-child {
                font-family: 'Noto Sans TC';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 41px;
                color: #3C221B;
            }
        }

        .closeBtn {
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
}